aiohttp==3.3.2
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==18.1.0
chardet==3.0.4
idna==2.7
idna-ssl==1.0.1
more-itertools==4.2.0
multidict==4.3.1
pluggy==0.6.0
py==1.5.3
pytest==3.6.1
pytest-aiohttp==0.3.0
pytest-pythonpath==0.7.2
six==1.11.0
yarl==1.2.6
